<div class="container">
	<div class="row">
	<% @listings.each do |listing|%>
		
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<% unless listing.avatars.length == 0 %>
						<%= image_tag(listing.avatars[0],class:"panel-image")%>
					<% else %>
						<%= image_tag("user-pic.png",class:"panel-image")%>
					<% end %>
				</div>

				<div class="panel-footer">
					<%= listing.name%>
				</div>
			</div>
		</div>
		
	<% end %>
	</div>
</div>