<div class="container">
	<h1>All Listing</h1>
	<h3><i><%= @error if @error %></h3>
	<section id="pinBoot">
	<% @listings.each do |listing|%>
		
		
			<article class="white-panel">
				<%= image_tag(listing.avatars[0], class: "img-pinBoot") %>
				<h4><%=link_to listing.name, listing%></h4>
				<p></p>
			</article>
			
	<% end %>
	</section>	
</div>


