/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require jquery-ui
 *= require_tree .
 *= require_self
 
 */

 #dropin{
    padding-left:10px;
    padding-right:10px;
 }

 #search-bar{
    width:150px;
 }

.navbar-nav > li > .img-circle-a {
    padding-top:0px;
    padding-bottom: 0px;
}


.booking-container .panel .panel-body .row .col-sm-4 label{
  
}

.booking-container .panel .panel-body .row .col-sm-4 .booking-input{
    padding:10px;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      height:500px;
      width: 100%;
      margin: auto;
  }

 .img-show{
    margin-top:20px;
    width:50px;
    height:50px;
 }

 #payment-form{
    padding:10px;
 }
 
 .panel-image{
    width:100%;
    position:relative;
 }

 .panel-user-img{
    position:absolute;
    right:18px;
    top:0px;
    height:50px;
    width:50px;
 }
 .panel-body{
    padding:0px;
 }

 .center-img{
    text-align:right;
 }

#listing_no_of_guest{
    width:100%;
}

.dropdown-menu{
    width:227px;
}

.dropdown-menu li a{
    padding:15px;
    color: #565A5C;
    font-family: sans-serif;
    font-size: 14px;
}

#homepage-pic{
    width:100%;
    height:auto;
    overflow: hidden;
    text-align:center;
}

.section-pic{
    height:100px;
}

.image-div{
    position:relative;
    height:500px;
    width:100%;
    overflow:hidden;
    text-align:center;
}

.image-text  {
    position:absolute;
    top:110px;
    text-align:center;
    color:white;
    background:rgba(0,0,0,0.5);

}


.image-div > .image-text > div > h1{
    text-align:center;
    font-size: 60px;
    font-weight: 700;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.image-div > .image-text > div {
    padding:20px;
}


.section-pic{
    height:225px;
    width:100%;    
}

.container .row .section-image-div{
    text-align:center;
    position:relative;    
}

.container .row .section-image-div div h3{
    display:inline-table;
    vertical-align:middle;
    position:absolute;

    top:50px;
    left:15px;
    margin:auto;
    text-align:center;
    background:rgba(0,0,0,0.5);

    line-height:100%;

    color:white;

    text-transform:uppercase;
    font-size: 32px;
    font-weight: bold;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding:20px;
}

.section-intro{
    padding-top:20px;
    padding-bottom:20px;
}

body{
    padding-top:0px;
}

.navbar-default{
    background-color:transparent;
    border-color:transparent;
}

.img-footer{
  width:50px;
  height:50px; 
}

#homepage-btn{
    font-family:"san-serif";
    font-size:16px;
    font-weight:700;
    padding:10px;
}

#footer-text{
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height:1.43;
    font-weight:bold;
    color:white;
}

footer{
    background: asset-url("footer.jpg");
    width:100%;
}

#user-pic{
  width:50px;
  height:50px;  
}

#user-profile-pic{
    width:100%;
}
.modal-dialog{
    width:315px;
}

.signup-or-separator{
    background: transparent none repeat scroll 0% 0%;
    height: 34px;
    position: relative;
    text-align: center;
}

.signup-or-separator--text{
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #565A5C;
}

hr{
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 1px 0px 0px;
    border-style: solid none none;
    border-color: #DCE0E0 -moz-use-text-color -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}   

.center-row{
    max-width: 50%;
} 

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}